body{

}
#banner {
    width: 100%;
} 
.principal
 {
    background: #ccccc ;
   padding: 30px;
 }
 h1{
    text-alingn:center;
 }
 p {
    text-align: center;
 }
  em strong {
 text-align: center;
}
em strong {
    text-align: center;
}
.itens{
    font-style: italic
}
beneficios {
    blackground: #ffffff
    padding: 20px;
}
em strong {
    color:aqua
}

